body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #121113f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #e6d7ae;
}

img {
    position: absolute;
    background-color: #121113;
    top: 10%;
    right: -10%;
    transform: translateX(-50%);
    width: 30%;
    height: 60%;
    border-radius: 50%;
    box-shadow: 0 0 50px #e6d7ae;
}

img:hover {
    box-shadow: 0 0 70px #e6d7ae;

}

#name {
    position: absolute;
    top: 5%;
    left: 15%;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
    font-size: xx-large;
    border-radius: 2%;
    backdrop-filter: blur (10px) brightness(0.5);
}

#about {
    position: absolute;
    border-radius: 5px;
    left: 7.5%;
    right: 40%;
    top: 40%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-large;
    backdrop-filter: blur (10px) brightness(0.5);
    background-color: rgba(240, 248, 255, 0.164);
}

#name h1 {
    font-weight: bolder;
}

#name h2 {
    position: relative;
    left: 20%;
    font-style: italic;

}
#skills {
    display: none;

    position: absolute;
    left: 5%;
    right: 50%;
    top: 40%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-large;
    backdrop-filter: blur (10px) brightness(0.5);
    background-color: rgba(240, 248, 255, 0.281);
}

#skillContent {
    display: none;

    position: absolute;
    left: 2.5%;
    right: 50%;
    top: 45%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-large;
    backdrop-filter: blur (10px) brightness(0.5);
    background-color: rgba(240, 248, 255, 0.281);
}

#projects {
    display: none;
    position: absolute;
}

#projectContent {
    display: none;

}

#links {
    display: none;

}

#linkContent{
    display: none;

}

#btnContainer {
    position: fixed;
    bottom: 10%;
    left: 30%;
    right: 30%;
    animation: fade-in-bottom 1.5s ease-in;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 50%;
    background-color: #e6d7ae;
    color: #121113;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 40px 30px;    
    box-shadow: 0 0 20px #121113;
}

button:hover {
    color:  #e6d7ae;
    background-color:#121113;
    box-shadow: 0 0 20px #e6d7ae;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121113;
    color: #e6d7aed5;
    padding: 10px;
    text-align: center;
}

/* @media screen and (max-width: 800px) {
    body {
        background-image: none;
    }
} */

.head {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.content {
    animation: fade-in-left 1.5s ease-in-out;
}

@keyframes fade-in-left {
    0% {
        opacity: 0; 
        transform: translateX(-100%);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}