/* 
* Presets
 */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #121113f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #e6d7ae;
}

button {
    border-radius: 5%;
    border: none;
    background: linear-gradient(to bottom, #e6d7ae, #7e765f);
    color: #121113;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    padding: 7px 15px;
}

button:hover {
    color:  #e0c886;
    background: linear-gradient(to bottom, #7e765f, #413a26);
}

a {
    color: #e6d7ae;
    text-decoration: none;
}

a h3{
    color: #121113;
    text-shadow: 1px 1px 5px #e6d7ae;
    transition: transform 0.3s;
}

a:hover h3 {
    transform: scale(1.1);
    color: #e6d7ae;
    text-shadow: 2px 2px 10px #121113;
}

#name {
    font-size: x-large;
}

.head {
    animation: fade-in 2s ease-in-out;
    font-style: italic;
    font-size: x-large;
    display: none;
}

.head.active {
    display: block;
}

#logo {
    background-color: #121113;
    border-radius: 50%;
    box-shadow: 0 0 50px #e6d7ae;
}

#logo:hover {
    box-shadow: 0 0 70px #e6d7ae;
}

h1, h2 {
    margin: 0;
}

li {
    list-style: none;
    color: #e6d7ae;
}

#skillContent ul, #projectContent ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0;
}

#img {
    display: flex;
    justify-content: center;
}

/* 
* Navbar 
 */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 750px;
    padding: 0 100px;
}

nav .menu-icon {
    display: none;
}

nav .menu-dropdown {
    display: none;
}

nav .list-item {
    display: none;
}

nav ul {
    display: flex;
    gap: 30px;
}

#back {
    cursor: pointer;
}

#back:hover {
    color: #121113;
}

/* 
* Heading section
*/
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/*
* Main 
 */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
    gap: 80px;
    flex-direction: row-reverse;
}

/* 
* Content 
 */
.content {
    display: none;
    animation: fade-in-left 1.5s ease-in-out;
    border-radius: 5px;
    padding-bottom: 30px;
    backdrop-filter: blur (10px) brightness(0.5);
    background-color: rgba(240, 248, 255, 0.164);
    padding-left: 40px;
    padding-right: 40px;
}

.content.active {
    display: block;
}

/* 
* Skill content
 */
 #skillContent h3 {
    color: #121113;
    text-shadow: 1px 1px 5px #e6d7ae;
    transition: transform 0.3s;
}

#skillContent h3:hover {
    transform: scale(1.1);
    color: #e6d7ae;
    text-shadow: 2px 2px 10px #121113;
    cursor: pointer;
}

/* 
* Project content
 */
.project {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.project img {
    width: 100%;
    height: auto;
    margin-right: 20px;
}

/* 
* Link content
 */
#linkContent img {
    width: 100px;
    height: auto;
    margin-right: 100px;
}

#linkContent ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121113;
    color: #e6d7aed5;
    padding: 10px;
    text-align: center;
}


@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in-left {
    0% {
        opacity: 0; 
        transform: translateX(-100%);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1024px) {
    nav {
        gap: 450px;
    }

    main {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        gap: 150px;
    }

    main {
        flex-direction: column-reverse;
    }

    #projectContent ul, #skillContent ul {
        grid-template-columns: 1fr;
        gap: 0px;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        gap: 340px;
        padding: 10px 0;
    }


    nav .col-collapsible {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    button {
        padding: 0 0;
        color: #e6d7ae;
    }

    main {
        padding: 0 0;
    }

    #logo {
        width: 60%;
    }

    #projectContent ul, #skillContent ul {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    #linkContent ul {
        flex-direction: column;
        gap: 30px;
    }

    #linkContent ul a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 375px) {
    nav {
        gap: 300px;
    }
}

@media only screen and (max-width: 320px) {
    nav {
        gap: 250px;
    }
}
